:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --ocean: #404bbf;
  --iris: #4d5ae5;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --border: #e7e9fc;
  --link: #8e8f99;
  --dairy: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  color: #434455;
  background-color: var(--white);
}

/* header */
.header-border {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
/* Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris, #4d5ae5);
  text-decoration: none;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.span-logo-up {
  color: var(--navyblue);
}

/* header navigation */
.nav-list-link-current {
  color: var(--ocean);
}
.current {
  position: relative;
  color: var(--ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  content: '';
  background-color: var(--ocean);
  margin-top: 20px;
  bottom: -1px;
  border-radius: 2px;
}
.nav-list {
  display: flex;
  gap: 40px;
  margin-right: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.nav-list-link {
  display: block;
  color: var(--navyblue);
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-list-link::before {
  background-color: var(--ocean);
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--ocean);
}
.nav-list-link.current {
  color: var(--ocean);
}
/* header contacts */
.address-contacts {
  margin-left: auto;
}
.contacts-list {
  font-style: normal;
  display: flex;
  gap: 40px;
  
}

.mail-phone {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-phone:hover,
.mail-phone:focus {
  color: var(--ocean);
}

/* section 1 */
.section-one {
  background-color: var(--navyblue);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/background-image.jpg);
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.effective {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
}
.button_or {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  align-items: flex-start;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  border: none;
  text-align: center;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_or:hover,
.button_or:focus {
  background-color: #404bbf;
}

/* section 2 */
.features-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.section.features {
  padding: 120px 0;
}

.section-list {
  display: flex;
}

.section-list .item {
  width: calc((100% - 72px) / 4);
}

.section-list .item:not(:last-child) {
  margin-right: 24px;
}

.title {
  margin-bottom: 8px;

  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section 3 */
.what-doing {
  padding-bottom: 120px;
}

.we-doing {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.sec-three {
  display: flex;
  gap: 24px;
}

.img-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 48px) / 3);
}

/* section 4 */
.our-team {
  background: var(--cloud, #f4f4fd);
  padding: 120px 0;
}
.card-content {
  padding: 32px 0;
}
.card-content .title {
  text-align: center;
}
.card-content .text {
  text-align: center;
}

.floor {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our {
  display: flex;
  gap: 24px;
}

.section-team-svg {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.section-team-items {
  width: 40px;
  height: 40px;
}
.section-team-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team-link:hover,
.section-team-link:focus {
  background-color: var(--ocean);
}
.section-team-icon {
  fill: var(--cloud);
}

/* Customers */

.customers {
  padding: 120px 0;
}

.title-customers {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-icon {
  fill: currentColor;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--link);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

/* footer */
.footer-side {
  display: flex;
  background-color: var(--navyblue);
  padding: 100px 0;
}
.footer-list {
  margin-right: 120px;
}
.footer-container {
  display: flex;
  align-items: baseline;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo.foot {
  display: inline-block;
  margin-bottom: 16px;
}
.span-logo-down {
  color: var(--cloud);
}
.down {
  width: 264px;
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.text-media {
  width: 264px;
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
}
.footer-media-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.section-media-svg {
  display: flex;
  gap: 16px;
}
.section-team-link.footr:hover,
.section-team-link.footr:focus {
  background-color: #31d0aa;
}
/* Footer form */
.form-container-footer {
  margin-left: 80px;
}
.footer-media-p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form {
  display: flex;
  gap: 24px;
}
.footer-label {
  display: flex;
  flex-direction: column;
}
.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.footer-input::placeholder {
  /* Microsoft Edge */
  color: var(--white);
}

.button-sub {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.section-team-icon.footer-svg {
  margin-left: 16px;
}

/* porfolio */
/* main */
.tabble {
  padding-top: 96px;
  padding-bottom: 120px;
}
.list.tabb-but {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.button-all {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-all:hover,
.button-all:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.link.link-portfolio {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.list.tabl-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.li-card {
  width: calc((100% - 48px) / 3);
}
.visual-box {
  position: relative;
  overflow: hidden;
}
.hidden-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: var(--cloud);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hiddens-text:hover {
  transform: translatey(0);
}
.visual-box:hover .hidden-box {
  transform: translatey(0);
}
.ins-inf {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Modal */

/* Modal Form */
.modal-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-label {
  margin-bottom: 8px;
}
.modal-text {
  display: block;
  color: var(--lightslate, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-row {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}
.modal-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
input:focus + .modal-svg {
  fill: var(--iris);
}
.modal-label-textare {
  margin-bottom: 16px;
}

.textarea-form {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-form:focus {
  border-color: #4d5ae5;
}

.form-checkbox {
  margin-bottom: 24px;
}
.cb-active:checked + .form-label .modal-licence-accent {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}
.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--link);
}

.modal-licence-accent {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.form-input.checkbox:checked .modal-licence-accent {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}
.privacy-link {
  color: var(--iris);
}

/* Modal from hw4 */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: var(--dairy);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-icon {
  fill: var(--navyblue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  fill: var(--border);
  background-color: var(--border);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: transform 250ms;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: var(--ocean);
  border: none;
}
.modal-close-btn:focus {
  background-color: var(--ocean);
  border: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn:hover .close-icon {
  fill: var(--white);
}
.modal-close-btn:focus .close-icon {
  fill: var(--white);
}
